//reset

  /* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
  margin: 0;
  padding: 0;

}
pre{
  white-space:inherit;
}
ul, menu, dir, li{
  list-style: none;
}
/* 设置默认字体 */
body{
  position: relative;
  margin: 0 auto;
  font: 12px/1.5 Helvetica, Arial, sans-serif; /* �? ascii 字符表示，使得在任何编码下都无问�? */
}

a{
  text-decoration: none;
}
a, img, div, span, nav, li{
  -webkit-tap-highlight-color: transparent;
}

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边�? */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
  font-size: 100%; /* 使得表单元素�? ie 下能继承字体大小 */
}

input,button,select,textarea{outline:none; border:none;}

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
