@import "./_reset.scss";
@import "./_function.scss";
body{
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", STXihei, "Microsoft yahei", "WenQuanYi Micro Hei", sans-serif
}
.header{
  .logo-bar{
    border-bottom: 1px solid #ddd;
  }
  .name{
    display: inline-block;
    vertical-align: -72px;
    line-height: 30px;
    font-size: 16px;
  }
  .logo{
    width: 255px;
    height: 102px;
    display: inline-block;
    vertical-align: top;
  }
}    
.header-nav{
  text-align: center;
  padding: 20px 0;
  .item{
    font-size: 14px;
    position: relative;
    padding: 0 20px;
    display: inline-block;
    &:after{
      position: absolute;
      content: '|';
      top: 0;
      right: 0;
      color: #999;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
  .link{
    color: #999;
    &:hover{
      color: #eba929
    }
  }
} 
.wrapper{
  width: 1000px;
  margin: 0 auto;
}
.home-list{
  .img-box{
    position: relative;
    height: 120px;
    overflow: hidden;
  }
  .img{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .title{
    line-height: 1.5;
    padding: 10px 0;
    color: #333;
    font-size: 16px;
  }
  .time{
    font-size: 12px;
    line-height: 1;
    color: #666;
  }
  .desc{
    margin-top: 10px;
  }
  .link{
    color: #333;
  }
}
.flow-wrap{
  margin-right: 60px;
  position: relative;
  padding-bottom: 100px;
}
.flow-item{
  position: absolute;
  transition: all .5s ease-in-out;
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #eee;
  &:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.02);
  }
}
.detail-wrapper{
  h1{
    line-height: 2;
  }
  pre{
    margin: 10px 0;
  }
  .title{
    line-height: 3;
    font-size: 2.5em;
    text-align: center;
    color: cadetblue;
    margin-top: 50px;
  }
}
